<div id="navbar" class="d-flex flex-column flex-shrink-0 p-3">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">RENE SYSTEM</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="dashboard" class="nav-link active" aria-current="page">
        <!-- <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg> -->
        <img src="assets/source/icons/house-door.svg" alt="" width="18" height="18">
        Dashboard
      </a>
    </li>
    <li>
      <a href="desempenho" class="nav-link text-white">
        <!-- <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg> -->
        <img src="assets/source/icons/speedometer2.svg" alt="" width="20" height="20">
        Desempenho
      </a>
    </li>
    <li>
      <a href="prospeccao" class="nav-link text-white">
        <img src="assets/source/icons/table.svg" alt="" width="20" height="20">
        Prospecção
      </a>
    </li>
    <li>
      <a href="compras" class="nav-link text-white">
        <img src="assets/source/icons/cart.svg" alt="" width="20" height="20">
        Compras
      </a>
    </li>
    <li>
      <a href="tarefas" class="nav-link text-white">
        <img src="assets/source/icons/calendar.svg" alt="" width="20" height="20">
        Tarefas
      </a>
    </li>
    <li>
      <a href="anotacoes" class="nav-link text-white">
        <img src="assets/source/icons/pen.svg" color="white" alt="" width="20" height="20">
        Anotações
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>andreswell</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">Nova Loja</a></li>
      <li><a class="dropdown-item" href="#">Configurações</a></li>
      <li><a class="dropdown-item" href="#">Perfil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sair</a></li>
    </ul>
  </div>
</div>